# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/tracker/node_modules
frontend/tracker/public/webviewer
backend/user/__pycache__
backend/user/migrations
backend/core/__pycache__
backend/core/api/__pycache__
backend/core/libs/__pycache__
backend/core/migrations
backend/tracker/__pycache__
backend/media
backend/static
backend/signature
backend/stamp
backend/env.prod
backend/tracker/settings.py.orig
/.pnp
.pnp.js
.env
env.prod
# testings
/coverage

# production
frontend/tracker/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
backend/users/api/__pycache__/views.cpython-310.pyc
backend/users/api/__pycache__/serializers.cpython-310.pyc
