.search__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__items-action:first-child {
  margin-right: 5px;
}

.search__item-ref {
  font-size: 14px;
  color: var(--brown-text);
  font-weight: 600;
}

.search {
  width: 400px;
  position: relative;
}

.search__results {
  position: absolute;
  width: 100%;
  z-index: 100;
  overflow-y: scroll;
  max-height: 60vh;
  background-color: #fff;
  border-radius: 5px;
}

.search__item {
  padding: 10px;
  display: flex;
}

.item__description {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.item__title {
  font-weight: 600;
  color: var(--dark-brown);
}

.item__ref {
  font-size: 13px;
  color: var(--dark-brown);
}

.item__not-found {
  padding: 8px;
  color: var(--dark-brown);
  font-weight: 600;
  cursor: default;
}

.item__description {
  cursor: default;
}

.item__action {
  /* border: 1px solid red; */
}

.search__btn {
  color: "#9d4d01" !important;
  font-weight: 600 !important;
  margin-right: 5px;
  border: none !important;
  color: var(--white);
  /* background-color: var(--dark-brown); */
  background-color: gray;
  border-radius: 25px;
}

.search__btn:hover {
  color: var(--white);
  background-color: gray !important;
}

/* .ant-input.ant-select-selection-search-input {
  border: none !important;
  outline: none !important;
  overflow: hidden;
  background: red !important;
} */

/* .ant-select-dropdown.ant-select-dropdown-placement-bottomLeft.rc-virtual-list {
  border-radius: 0px 0px 10px 10px;
  top: 55px !important;
  border-top: 1px solid var(--light-brown) !important;
} */

/* .ant-select.ant-select-auto-complete.ant-select-single.ant-select-customize-input.ant-select-show-search:focus {
  border-radius: 10px 10px 0px 0px;
  background: red;
} */
