{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ghana Cocoa Board</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
    </style>
</head>


<body style="margin: 0; font-family: Poppins, sans-serif; --primary: #9c7348;
background-color: #F1F3F4;">
    <div style="padding: 0; max-width: 600px; padding: 0 1rem; margin: 1rem auto; background-color: white;">
        <header style=" color: white; text-align: left;">
            <img src="https://res.cloudinary.com/ghanacocoaboard/image/upload/v1653569533/HEADER_h1tt5m.png" alt="" />
        </header>
        <main class="boring" style="padding: 3rem 2rem;">
            <p>Dear {{receiver.get_full_name}},</p>
            <p style=" margin: 1rem 0;">
                You're receiving this email because you have received an encrypted document with
                details:
            </p>
            <p>
            <p>
            <p>
                Subject of Document: {{document.subject}}
            </p>
            <p>
                From: {{sender.get_full_name}}
            </p>
            </p>
            </p>
            <p>Use this password: <strong>{{code}}</strong> </p>

        </main>
        <footer
            style="font-size: 15px; padding: 1rem; text-align: center; line-height: 200%; color: #7d7c7c;  border-top: 1px solid #C9BCBC;">
            <div>
                <img style="width:80px; height: 80px;"
                    src="https://res.cloudinary.com/ghanacocoaboard/image/upload/v1653915586/logo_g5nf7b.png"
                    alt="logo" />
            </div>
            <div>
                <p>Copyright ©{{year}} All rights reserved.</p>
                <p>Cocoa House, 41 Kwame Nkrumah Avenue.</p>
                <p>P.O. Box 933, Accra</p>
                <p>This email was sent to {{user.email}}</p>
            </div>
        </footer>
    </div>
</body>

</html>