{% load i18n %}
{% block subject %} {% blocktrans %}Password Reset{% endblocktrans %}
{% endblock subject %}

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
</head>


{% block html_body %}

<div style="--primary: #9c7348;
background-color: #F1F3F4;">
  <div style="padding: 0; max-width: 600px; padding: 0 1rem; margin: 1rem auto; background-color: white;">
    <header style=" color: white; text-align: left;">
      <img src="https://res.cloudinary.com/ghanacocoaboard/image/upload/v1653569533/HEADER_h1tt5m.png" alt="" />
    </header>
    <main style="padding: 3rem 2rem;">
      <p>Dear {{user.get_full_name}},</p>
      <p style=" margin: 1rem 0;">
        {% blocktrans %}You're receiving this email because you requested a password
        reset for your user account at {{ domain }}.{% endblocktrans %}
      </p>

      <p style=" margin: 1rem 0;">{% trans "Please go to the following page and choose a new password:" %}</p>
      <a href="{{ protocol }}://{{ domain }}/{{ url }}" style=" font-size: 13px;">Click here to reset your password</a>
      <p style=" margin: 1rem 0;">
        {% trans "Your staff number, in case you've forgotten:" %}<b>{{ user.get_username }}</b>
      </p>

      <p style=" margin: 1rem 0;">{% trans "Thanks for using our site!" %}</p>

      <p style=" margin: 1rem 0;">{% blocktrans %}The {{ domain }} team{% endblocktrans %}</p>
    </main>
    <footer
      style="font-size: 15px; padding: 1rem; text-align: center; line-height: 200%; color: #7d7c7c;  border-top: 1px solid #C9BCBC;">
      <div>
        <img style="width:80px; height: 80px;"
          src="https://res.cloudinary.com/ghanacocoaboard/image/upload/v1653915586/logo_g5nf7b.png" alt="logo" />
      </div>
      <div>
        <p>Copyright ©{{year}} All rights reserved.</p>
        <p>Cocoa House, 41 Kwame Nkrumah Avenue.</p>
        <p>P.O. Box 933, Accra</p>
        <p>This email was sent to {{user.email}}</p>
      </div>
    </footer>
  </div>
</div>
{% endblock html_body %}