.ant-modal-footer .ant-btn-primary {
  background: #00526e !important;
  border: none !important;
}

.ant-modal-footer .ant-btn-default:hover {
  /* color: var(--light-brown); */
  border-color: #00526e;
}
